//colors
$white: #FFF;
$isabelline: #ECECEC;
$light_gray: #d1d1d1;
$smoky_black: #0c0910;
$granite_gray: #646266;
$quick_silver: #a6a5a8;

//Fonts
$primary: 'Raleway', sans-serif;
$secondary: 'Old Standard TT', serif;

//Font Sizes 
$xxx-large: 50px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;

//Device size
$smalldev: 540px;
$mediumdev: 780px;